@import './normalize.css';

body{
    overflow-y: hidden;
}

.msg-header {
  background-image: url(../images/1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container-1 {
    font-family: Tahoma;
    letter-spacing: 0.5px;
    height: 98vh;
    width: 85vw;
    margin: 0 auto;
}
    
img {
    max-width: 100%;
    border-radius: 50%;
}

.msg-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px;
    width: 100%;
    height: auto;
    border-bottom: none;
    border-radius: 0.625rem;
    background-color: #b9b6b9;
    padding: 5px;
}

.msg-header-img {
    border-radius: 50%;
    width: 2.5rem;
    margin-left: 2%; 
}

.active {
    width: 18.75rem;
    margin-right: auto;
}

.active h5 {
    font-size: 1rem;
    margin-left: 1rem;
    color: rgb(255, 255, 255);
}

.active h6 {
    font-size: 0.5rem;
    margin-left: 1rem;
    line-height: 0.125rem;
    color: rgb(43, 43, 43);
}

.header-icons {
    width: 1rem;
    margin-right: 2%;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.chat-page {
    padding: 0 0 50px 0;
}

.msg-inbox {
    border: 1px solid #fafafa;
    background-color: rgb(239, 231, 255);
    border-radius: 0.625rem;
}

.chats {
    padding-left: 1rem;
}

.msg-page {
    height: 32.25rem;
    overflow-y: auto;
    align-self: center;
}

.recieved-chats {
    display: flex;
    justify-content: flex-start;
}

.recieved-chats-img {
    width: 1.5625rem;
    margin-right: 0.5rem;
}

.recieved-msg {
    width: 92%;
}

.recieved-msg-inbox {
    width:fit-content;
}

.recieved-msg-inbox p {
    background: #fdf9ff none repeat scroll 0 0;
    color:rgb(0, 0, 0);
    border-radius: 0 0.625rem 0.625rem 0.625rem;
    font-size: 0.875rem;
    margin: 0;
    padding: 0.3125rem 0.625rem 0.3125rem 0.75rem;
    width: 100%;
}

.time {
    color:rgb(63, 62, 62);
    display: block;
    font-size: 0.75rem;
    margin: 0.5rem 0 0.5rem;
}

.outgoing-chats {
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
}

.outgoing-chats-msg p {
    background-color: rgb(81, 46, 136);
    color: rgb(255, 255, 255);
    border-radius: 0.625rem 0 0.625rem 0.625rem;
    font-size: 0.875rem;
    margin: 0 auto;
    padding: 0.3125rem 0.625rem 0.3125rem 0.75rem;
    width: 100%; 
}

.outgoing-chats-msg {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
}

.outgoing-chats-img {
    width: 1.5625rem;
    margin-left: 0.5rem;
}